.b-chart {
	display: flex;
	flex-flow: row wrap;
	padding: 5vh 0;

	&__line {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: 1rem;

		width: 65%;
		height: 40vh;

		> svg {
			width: 100% !important;
			height: auto !important;
		}
	}

	&__pie {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: 1rem;

		width: 35%;
		height: 40vh;

		> svg {
			width: 100% !important;
			height: auto !important;
		}
	}

	h4,
	h5 {
		margin-bottom: 1rem;
	}
}