.b-chart {
	display: flex;
	flex-flow: row wrap;
	padding: 5vh 0;

	&__line {
		width: 60vw;
		height: 35vh;
		text-align: center;
		margin: 2vh 2vw;

		> svg {
			width: 100% !important;
			height: auto !important;
		}
	}

	&__pie {
		width: 30vw;
		height: 35vh;
		text-align: center;
		margin: 2vh 2vw;

		> svg {
			width: 100% !important;
			height: auto !important;
		}
	}
}