.b-menu {
	@include make-col-ready();
	@include make-col(12);

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;

	h1 {
		color: $white;
		font-size: 1.5rem;
		padding-left: 1.5rem;
	}

	ul,
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		height: 100%;
		margin-left: auto;
		margin-right: 1.5rem;
	}

	&__item {
		a {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			height: 100%;
			color: $light;

			&.is-active {
				display: none;
			}

			@include hover-focus {
				color: $white;
			}
		}
	}
}